/* styles.css */

body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.container {
    text-align: center;
}

.input-container {
    text-align: left;
    margin-bottom: 10px;
}

.forgot-password {
    float: right;
     font-size: 0.8em;
}

/* Dropdown style */
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none; /* Remove default arrow */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333" width="24px" height="24px"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right 10px center/12px 12px; /* Custom arrow */
}

/* MHCET percentile input style */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

/* Style for filter container */
.filter-container {
    float: left;
    width: 20%;
    margin-right: 20px; /* Adjust the margin as needed */
}

/* Style for table container */
.table-container {
    float: right;
    width: 77%; /* Adjust the width as needed */
    margin-left: 20px; /* Adjust the margin as needed */
}

/* Style for table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Additional styles specific to the login and signup forms can be added here if needed */

