<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome{% endblock %}</title>
    <link rel="stylesheet" href="static\styles.css">
</head>
<body>
{% include 'nav_footer.html' %}

    <!-- Content area -->
    <div style="text-align: left; margin: 0 auto; width: fit-content;">
        {% block content %}
            <h1>Welcome to College Connect!</h1>
            <p>College Connect helps you decide which college to choose based on your MH CET or JEE percentile.</p>
            <p>Enter your exam scores and preferences to get personalized recommendations.</p>
            <a href="/form">
                <input type="submit" value="Get Started" style="width:100px;">
            </a>

        {% endblock %}
    </div>
</body>
</html>

